:root {
    --fz: 16px;
    --theme--contrast-0: #121212;
    --theme-body-bg: #18061f;
    --theme-body-txt: #f3f3f3;
    --search-size-mx-h: 3rem;
    --zIndex-header: 20;
    --zIndex-component: 5;
    --brand-color_1: #00ff99;
    --brand-color_2: #00ccff;
    --brand-color_3: #9933ff;
    --brand-color_4: #9933ff;
    --brand-color_5: #fff35c;
    --gridList-column: 400px;
    --gridList-rows: 400px;
    --gridList-gap: 10px;
  }
  
  .ListOfGifs {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 1fr));
    grid-auto-rows: var(--gridList-rows);
    grid-template-rows: masonry;
    grid-auto-flow: row dense;
    grid-gap: var(--gridList-gap, 6px);
    gap: var(--gridList-gap, 6px);
    align-items: center;
  }
  
  @media screen and (min-width: 37.5rem) {
    :root {
      --gridList-column: 180px;
      --gridList-rows: 200px;
    }
  }
  
  @media screen and (min-width: 60rem) {
    :root {
      --gridList-column: 300px;
      --gridList-rows: 210px;
    }
  }


  .Gif {
    --gifShadow-size : var(--gridList-gap, 6px);
    margin-bottom: .5em;
  }
  
  .Gif-link {
    color: #000;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
  }
  
  .Gif h4 {
    background: rgba(0, 0, 0, .3);
    bottom: 0;
    font-size: 12px;
    color: #fff;
    margin: 0;
    position: absolute;
  }
  
  .Gif img {
    width: 100%;
    object-fit: contain;
    vertical-align: top;
  }
  
  i {
    font-size: 80px;
  }
  
  .Gif {
    margin-bottom: 0;
  }
  
  .Gif, .Gif-link {
    height: 100%;
  }
  .Gif-link img {
    height: inherit;
    object-fit: cover;
  }
  
  .Gif:nth-child(5n + 1) img {
    background-color: var(--brand-color_1);
  }
  .Gif:nth-child(5n + 2) img {
    background-color: var(--brand-color_2);
  }
  .Gif:nth-child(5n + 3) img {
    background-color: var(--brand-color_3);
  }
  .Gif:nth-child(5n + 4) img {
    background-color: var(--brand-color_4);
  }
  .Gif:nth-child(5n + 5) img {
    background-color: var(--brand-color_5);
  }
  
  .Gif:hover:nth-child(5n + 1) {
    box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_1);
  }
  .Gif:hover:nth-child(5n + 2) {
    box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_2);
  }
  .Gif:hover:nth-child(5n + 3) {
    box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_3);
  }
  .Gif:hover:nth-child(5n + 4) {
    box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_4);
  }
  .Gif:hover:nth-child(5n + 5) {
    box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_5);
  }
  
  .Gif:hover:nth-child(5n + 1) h4 {
      background-color: var(--brand-color_1);
      color: var(--theme-body-bg);
  }
  .Gif:hover:nth-child(5n + 2) h4 {
      background-color: var(--brand-color_2);
      color: var(--theme-body-bg);
  }
  .Gif:hover:nth-child(5n + 3) h4 {
      background-color: var(--brand-color_3);
      color: white;
  }
  .Gif:hover:nth-child(5n + 4) h4 {
      background-color: var(--brand-color_4);
      color: white;
  }
  .Gif:hover:nth-child(5n + 5) h4 {
      background-color: var(--brand-color_5);
      color: var(--theme-body-bg);
  }
  
  .Gif:nth-child(11n + 1) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .Gif:nth-child(8n+1) {
      grid-column-end: span 2;
      grid-row-end: span 2;
  }
  
  .Gif:nth-child(10n + 3) {
      grid-column: span 2;
      grid-row: span 1;
  }
  
  @media screen and (max-width: 45rem)
  {
    .Gif:nth-child(11n + 1),
    .Gif:nth-child(8n+1),
    .Gif:nth-child(10n + 3) {
      grid-column: span 1;
      grid-row: span 1;
    }
  
  }
  