.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    sidebarJunior STYLE
----------------------------------------------------- */
.sidebarJunior {
  background: #0c5084;
  color: #fff;
  /* margin-left: -145px; */
  transition: all 0.5s;
  text-align: left !important;
  width: max-content;
  top: inherit !important;
}

.sidebarJunior.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebarJunior-header {
  background: #0c5084;
}

.sidebarJunior-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebarJunior ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #0c5084;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit !important;
  text-decoration: none;
}

.nav-item:hover {
  color: #0c5084;
  background: #fff;
}

.items-menu {
  color: #fff;
  background: #0c5084;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebarJunior-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #0c5084;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #0c5084;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .content.is-open {
    margin-left: 100%;
  }

  .sidebarJunior.is-open {
    min-width: 80%;
    max-width: 80%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebarJunior.is-open > .sidebarJunior-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}
