.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.sidePadding{
  padding-left: 3.5rem !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  /*min-width: 250px;
  max-width: 250px;*/
  background: #0d5084;
  transition: all 0.5s;
  text-align: left !important;
  position: absolute !important;
  width: 3rem;
  -webkit-transition: width 1s, background 1s;
  -moz-transition: width 1s, background 1s;
  -o-transition: width 1s, background 1s;
  transition: width 1s, background 1s;
  top: unset !important;
  bottom: .50rem !important;


}
.open {
  width: 100px;
  height: 50px;
  background: #f92672;
  color: white;
  font-weight: bold;
  -webkit-transition: width 1s, background 1s;
  -moz-transition: width 1s, background 1s;
  -o-transition: width 1s, background 1s;
  transition: width 1s, background 1s;
  padding: 10px;
  margin: 10px;
}

.openEfecto {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}


.sidebar:hover {
  margin-left: 0;
  transition: 0.5s;
  width: 24rem;
  display: unset;
}
.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
  width: 24rem;
  display: unset;
}

.sidebar-header {
  background: #0d5084;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #0d5084;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit !important;
  text-decoration: none;
}
.nav-item {
  color: #fff !important;
  padding: 5px;}
.nav-item:hover {
  color: #0d5084 !important;
  background: #fff !important;
}

.items-menu {
  color: #fff;
  background: #0d5084;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: auto;

}

.sidebar section{
  display: none;

}
.sidebar.is-open section{
  display: unset !important;
}

.sidebar:hover section{
  display: unset !important;
}


.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #0d5084;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #0d5084;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    /*min-width: 250px;
    max-width: 250px;*/
    background: #0d5084;
    transition: all 0.5s;
    text-align: left !important;
    position: absolute !important;
    width: 0;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    top: unset !important;
  
  
  }

  .sidebar:hover {
    margin-left: 0;
    transition: 0.5s;
    width: 0;
    display: unset;
  }
  .sidePadding{
    padding-left: 0 !important;
  }
  .side-menu {
    height: calc(100vh - 130px);
    overflow-y: auto;
    }
  
  .sidebar section{
    display: none;
  
  }
  .sidebar.is-open section{
    display: unset !important;
  }
  
  .sidebar:hover section{
    display: unset !important;
  }
  

  body {
    overflow: auto;
  }

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 80%;
    max-width: 80%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}
