:root {
	--fz: 16px;
	--theme--contrast-0: #121212;
	--theme-body-bg: #18061f;
	--theme-body-txt: #f3f3f3;
	--search-size-mx-h: 3rem;
	--zIndex-header: 20;
	--zIndex-component: 5;
	--brand-color_1: rgba(12, 25, 36, 1);
	--brand-color_2: rgba(13, 80, 132, 1);
	--brand-color_3: #ec6729;
	--brand-color_4: rgba(13, 80, 132, 1);
	--brand-color_5: rgba(60, 128, 180, 1);
  }

.lds-ring {
	display: flex;
	align-items: center;
	height: 37px;
	padding-top: 15px;
	text-align: center;
	justify-content: center;
	margin: 0px auto;
}

.lds-ring div {
	display: inline-block;
	height: 10px;
	width: 10px;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
	margin: 37px 10px 10px;
	animation: 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite
		alternate none running bouncer;
}

.lds-ring div:nth-child(5n + 1) {
	background-color: var(--brand-color_1);
}
.lds-ring div:nth-child(5n + 2) {
	animation-delay: calc(0.1s);
	background-color: var(--brand-color_2);
}
.lds-ring div:nth-child(5n + 3) {
	animation-delay: calc(0.2s);
	background-color: var(--brand-color_3);
}
.lds-ring div:nth-child(5n + 4) {
	animation-delay: calc(0.2s);
	background-color: var(--brand-color_4);
}
.lds-ring div:nth-child(5n + 5) {
	animation-delay: calc(0.4s);
	background-color: var(--brand-color_5);
}

@keyframes bouncer {
	100% {
		transform: scale(1.75) translateY(-20px);
	}
}